@import 'variables';
.viewer {
  padding-bottom: px2rem(120);
}
.article-recommends h3, .articles-entry h3 {
  color: $base-article-front-color;
  font-size: px2rem(32);
  padding: px2rem(24) px2rem($base-item-padding);
}
.articles-entry {
  padding: 0 px2rem($base-item-padding) px2rem($base-item-padding);
  margin-bottom: px2rem(220);
  h3 {
    text-align: center;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: px2rem(2);
      left: 0;
      width: 100%;
      top: 50%;
      background-color: $base-item-border-color;
    }
    span {
      position: relative;
      padding: 0 px2rem(8);
      z-index: 2;
      background-color: $base-article-bg;
    }
  }
  .entry-content {
    height: px2rem(380);
    background-color: white;
    border-radius: px2rem(8);
  }
}
.article-actions {
  position: fixed;
  background-color: #fff;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  // padding-top: px2rem(12);
  color: #b8b8b8;
  font-size: px2rem(24);
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  img {
    height: px2rem(48);
  }
  .action-item {
    height: px2rem(100);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.article-action-btns {
  display: flex;
  &>div {
    flex: 1;
    text-align: center;
    img {
      width: px2rem(100);
      margin-bottom: px2rem(12);
    }
  }
}
.article-btn-cancel {
  width: 100%;
  height: 100%;
  font-size: px2rem(34);
  text-align: center;
}
.share-content {
  text-align: center;
  font-size: px2rem(34);
  h3 {
    margin-bottom: px2rem(32);
  }
  .icon {
    display: inline-block;
    width: px2rem(42);
    vertical-align: middle;
    border: none;
    margin-top: - px2rem(4);
  }
}
.share-cover {
  margin-bottom: px2rem(32);
  img {
    width: 70%;
  }
}
.share-content-btn {
  margin-top: px2rem(32);
  padding: px2rem(18) px2rem(50);
  background-color: $base-theme;
  color: white;
  border-radius: px2rem(52);
  max-width: px2rem(368);
}
.share-tip {
  p {
    font-weight: 600;
    color: $base-theme;
    margin-top:  px2rem(12);
  }
}

.qr_code {
  display: flex;
  margin-top: px2rem(78);
  padding: 0 px2rem(96);
  img {
    width: px2rem(176);
    height: px2rem(176);
  }
  .qr_code-desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: px2rem(16);
    font-size: px2rem(26);
    align-items: center;
    justify-content: center;
    h3 {
      margin-bottom: px2rem(12);
    }
    span {
      color: #b8b8b8;
    }
  }

}
