.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  box-shadow: 0 -0.026667rem 0.053333rem rgba(0,0,0,.1);
  box-shadow: 0 -0.266667vw 0.533333vw rgba(0,0,0,.1);
  padding-top: .12rem;
  padding-top: 1.2vw;
  height: 1.333333rem;
  height: 13.333333vw;
  font-size: .266667rem;
  .footerTab {
    display: block;
    flex: 1;
    text-align: center;
    img {
      width: .6rem;
      width: 6vw;
      height: .6rem;
      height: 6vw;
    }
    span {
      display: block;
    }
  }
}
