// item
$base-theme: #F56368;
$base-item-padding: 32;
$base-item-title-font-size: 34;
$base-item-title-font-color: #050505;
$base-item-title-lh: 48;
$base-item-image-height: 152;
$base-item-image-width: 222;
$base-item-banner-height: 380;
$base-item-border-depth: 2;
$base-item-border-color: #E8E8E8;
$base-item-media-mr: 54;

$color-success: #52c41a;
$color-error: #FE898A;
$color-warning: #FFD156;
$color-info: #CEE8F4;
$color-text-fb: #3b5998;
$color-text-ins: #D83C6B;

//
$base-article-bg: #F5F5F5;
$base-article-front-color: #999999;


$dp-2: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);


@function px2rem ($px) {
  @return($px / 75) * 1rem;
}


